@keyframes canvi-animate-in {
    0%   {
    	opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}

@keyframes canvi-animate-out {
    0%   {
    	opacity: 1;
    }
    100% {
    	opacity: 0;
    }
}